@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Neue Montreal";
  src: url(./assets/fonts/NeueMontreal-Regular.ttf);
}

@font-face {
  font-family: "F Grotesk";
  src: url(./assets/fonts/FoundersGrotesk-Semibold.ttf);
}

header {
  font-family: "Neue Montreal";
}

.masker {
  font-family: "F Grotesk";
}

.startBtns:hover .btn-1 {
  background-color: white;
  color: black;
}

.startBtns:hover .btn-2 {
  background-color: white;
  color: black;
}

.btn-1 {
  transition: all 200ms ease;
}

.btn-2 {
  transition: all 200ms ease 60ms;
}
