@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Neue Montreal";
  src: url(./assets/fonts/NeueMontreal-Regular.ttf);
}

@font-face {
  font-family: "F Grotesk";
  src: url(./assets/fonts/FoundersGrotesk-Semibold.ttf);
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
  display: none;
}

.neue {
  font-family: "Neue Montreal";
}

.founder {
  font-family: "F Grotesk";
}

.btn-1 {
  transition: all 200ms ease;
}

.btn-bg {
  transition: all 0.46s cubic-bezier(0.215, 0.61, 0.355, 1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.arr {
  transition: all 0.46s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.startBtns:hover .btn-1 {
  background-color: white;
  color: black;
}

.startBtns:hover .btn-bg {
  width: 2rem;
  height: 2rem;
}

.startBtns:hover .arr {
  color: black;
}

.ani-pic {
  background-image: url("https://ochi.design/wp-content/uploads/2022/04/content-image01.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.read-btn,
.read-logo {
  transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.s-img,
.s-con {
  transition: all 1.44s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.read-btn:hover {
  background: #000;
}

.read-btn:hover .read-logo {
  height: 2.5rem;
  width: 2.5rem;
  color: #000;
  margin-right: 0.32rem;
}

.s-con {
  border-radius: 0.75rem;
}

.concon:hover + .s-con {
  transform: scale(0.97);
}

.concon:hover + .s-con .s-img {
  transform: scale(1.1);
}

.card-content .image {
  transition: all 0.4s linear;
}

.card-content img {
  transition: all 0.9s cubic-bezier(0.215, 0.61, 0.355, 1) 0.1s;
}

.card-content .image {
  overflow: hidden;
}

.card-content:hover .image {
  transform: scale(0.95);
}
.card-content:hover img {
  transform: scale(1.1);
}

.btn-op,
.op-logo {
  transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.op-logo svg {
  transition: all 0s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: scale(0.25);
}

.btn-op:hover {
  background: #000;
}

.btn-op:hover .op-logo svg {
  transform: scale(0.25);
}

.btn-op:hover .op-logo {
  transform: scale(5);
}
